<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.animeshpathak.nextbus"
    android:versionCode="17"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_icon_newer"
        android:label="@string/app_name" >
        <activity
            android:name="in.animeshpathak.nextbus.NextBusMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait">        
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="in.animeshpathak.nextbus.NotificationService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name="in.animeshpathak.nextbus.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="in.animeshpathak.nextbus.AboutActivity"
            android:label="@string/home_activity_title"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>